@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  @include box(100%);
  background-color: rgba(0,0,0,0.5);
  display: grid;
  place-items: center;
  transition: $transition;
  visibility: hidden;
  z-index: -1;

  .subscribe-desc{
    color: $grey-5;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  .sub-flex{
    display: flex;
    place-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    .email-input{
      margin-right: 1rem;
      height: 1.15rem;
      width: 55%;
    }
    button.subscribe{
      font-size: 1.15rem;
      background: $red-dark;
      color: $white;
      border-radius: 1rem;
      overflow: hidden;
      width: auto;
      border: transparent;
    }
  }
  &.show-modal{
    visibility: visible;
    z-index: 99;
  }

  @include tablet{
    .subscribe-desc{
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .sub-flex{
      .email-input{
        margin-right: 1rem;
        height: 2rem;
        width: 35%;
      }
      button.subscribe{
        font-size: 3rem;
      }
    }
  }

  .modal-container{
    background: $white;
    border-radius: $radius;
    @include box(50vw, 50vh);
    max-width: $fixed-width;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
  }
  .close-modal-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    border-color: transparent;
    color: rgb(128, 128, 128);
    cursor: not-allowed;
    background: transparent;
  }
}

